<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kandashan.admin.dao.GoodsGoodsAttributeMapStoreMapper">
  <resultMap id="BaseResultMap" type="com.kandashan.admin.entity.GoodsGoodsAttributeMapStore">
    <id column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <id column="goods_attribute_map_store_mapkey_id" jdbcType="VARCHAR" property="goodsAttributeMapStoreMapkeyId" />
    <result column="goods_attribute_map_store_element" jdbcType="VARCHAR" property="goodsAttributeMapStoreElement" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    goods_id, goods_attribute_map_store_mapkey_id, goods_attribute_map_store_element
  </sql>
  <select id="selectByExample" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xx_goods_goods_attribute_map_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStoreKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xx_goods_goods_attribute_map_store
    where goods_id = #{goodsId,jdbcType=VARCHAR}
      and goods_attribute_map_store_mapkey_id = #{goodsAttributeMapStoreMapkeyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStoreKey">
    delete from xx_goods_goods_attribute_map_store
    where goods_id = #{goodsId,jdbcType=VARCHAR}
      and goods_attribute_map_store_mapkey_id = #{goodsAttributeMapStoreMapkeyId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStoreExample">
    delete from xx_goods_goods_attribute_map_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStore">
    insert into xx_goods_goods_attribute_map_store (goods_id, goods_attribute_map_store_mapkey_id, 
      goods_attribute_map_store_element)
    values (#{goodsId,jdbcType=VARCHAR}, #{goodsAttributeMapStoreMapkeyId,jdbcType=VARCHAR}, 
      #{goodsAttributeMapStoreElement,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStore">
    insert into xx_goods_goods_attribute_map_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsAttributeMapStoreMapkeyId != null">
        goods_attribute_map_store_mapkey_id,
      </if>
      <if test="goodsAttributeMapStoreElement != null">
        goods_attribute_map_store_element,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsAttributeMapStoreMapkeyId != null">
        #{goodsAttributeMapStoreMapkeyId,jdbcType=VARCHAR},
      </if>
      <if test="goodsAttributeMapStoreElement != null">
        #{goodsAttributeMapStoreElement,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStoreExample" resultType="java.lang.Integer">
    select count(*) from xx_goods_goods_attribute_map_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update xx_goods_goods_attribute_map_store
    <set>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsAttributeMapStoreMapkeyId != null">
        goods_attribute_map_store_mapkey_id = #{record.goodsAttributeMapStoreMapkeyId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsAttributeMapStoreElement != null">
        goods_attribute_map_store_element = #{record.goodsAttributeMapStoreElement,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update xx_goods_goods_attribute_map_store
    set goods_id = #{record.goodsId,jdbcType=VARCHAR},
      goods_attribute_map_store_mapkey_id = #{record.goodsAttributeMapStoreMapkeyId,jdbcType=VARCHAR},
      goods_attribute_map_store_element = #{record.goodsAttributeMapStoreElement,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStore">
    update xx_goods_goods_attribute_map_store
    <set>
      <if test="goodsAttributeMapStoreElement != null">
        goods_attribute_map_store_element = #{goodsAttributeMapStoreElement,jdbcType=VARCHAR},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=VARCHAR}
      and goods_attribute_map_store_mapkey_id = #{goodsAttributeMapStoreMapkeyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStore">
    update xx_goods_goods_attribute_map_store
    set goods_attribute_map_store_element = #{goodsAttributeMapStoreElement,jdbcType=VARCHAR}
    where goods_id = #{goodsId,jdbcType=VARCHAR}
      and goods_attribute_map_store_mapkey_id = #{goodsAttributeMapStoreMapkeyId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.kandashan.admin.entity.GoodsGoodsAttributeMapStore">
    <id column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <id column="goods_attribute_map_store_mapkey_id" jdbcType="VARCHAR" property="goodsAttributeMapStoreMapkeyId" />
    <result column="goods_attribute_map_store_element" jdbcType="VARCHAR" property="goodsAttributeMapStoreElement" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    goods_id, goods_attribute_map_store_mapkey_id, goods_attribute_map_store_element
  </sql>
  <select id="selectByExample" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xx_goods_goods_attribute_map_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStoreKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xx_goods_goods_attribute_map_store
    where goods_id = #{goodsId,jdbcType=VARCHAR}
      and goods_attribute_map_store_mapkey_id = #{goodsAttributeMapStoreMapkeyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStoreKey">
    delete from xx_goods_goods_attribute_map_store
    where goods_id = #{goodsId,jdbcType=VARCHAR}
      and goods_attribute_map_store_mapkey_id = #{goodsAttributeMapStoreMapkeyId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStoreExample">
    delete from xx_goods_goods_attribute_map_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStore">
    insert into xx_goods_goods_attribute_map_store (goods_id, goods_attribute_map_store_mapkey_id, 
      goods_attribute_map_store_element)
    values (#{goodsId,jdbcType=VARCHAR}, #{goodsAttributeMapStoreMapkeyId,jdbcType=VARCHAR}, 
      #{goodsAttributeMapStoreElement,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStore">
    insert into xx_goods_goods_attribute_map_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsAttributeMapStoreMapkeyId != null">
        goods_attribute_map_store_mapkey_id,
      </if>
      <if test="goodsAttributeMapStoreElement != null">
        goods_attribute_map_store_element,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsAttributeMapStoreMapkeyId != null">
        #{goodsAttributeMapStoreMapkeyId,jdbcType=VARCHAR},
      </if>
      <if test="goodsAttributeMapStoreElement != null">
        #{goodsAttributeMapStoreElement,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStoreExample" resultType="java.lang.Integer">
    select count(*) from xx_goods_goods_attribute_map_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update xx_goods_goods_attribute_map_store
    <set>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsAttributeMapStoreMapkeyId != null">
        goods_attribute_map_store_mapkey_id = #{record.goodsAttributeMapStoreMapkeyId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsAttributeMapStoreElement != null">
        goods_attribute_map_store_element = #{record.goodsAttributeMapStoreElement,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update xx_goods_goods_attribute_map_store
    set goods_id = #{record.goodsId,jdbcType=VARCHAR},
      goods_attribute_map_store_mapkey_id = #{record.goodsAttributeMapStoreMapkeyId,jdbcType=VARCHAR},
      goods_attribute_map_store_element = #{record.goodsAttributeMapStoreElement,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStore">
    update xx_goods_goods_attribute_map_store
    <set>
      <if test="goodsAttributeMapStoreElement != null">
        goods_attribute_map_store_element = #{goodsAttributeMapStoreElement,jdbcType=VARCHAR},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=VARCHAR}
      and goods_attribute_map_store_mapkey_id = #{goodsAttributeMapStoreMapkeyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kandashan.admin.entity.GoodsGoodsAttributeMapStore">
    update xx_goods_goods_attribute_map_store
    set goods_attribute_map_store_element = #{goodsAttributeMapStoreElement,jdbcType=VARCHAR}
    where goods_id = #{goodsId,jdbcType=VARCHAR}
      and goods_attribute_map_store_mapkey_id = #{goodsAttributeMapStoreMapkeyId,jdbcType=VARCHAR}
  </update>
</mapper>